/* ************************************************************* */
/*  Midterm Project - Prototype - Contact CSS */
/* ************************************************************* */

/* ************************************************************* */
/*  NOTES
    -Colors: orange = #ffba59, purple = , teal= #69c0af, and white
    -Mobile first styling approche with responsive design with media queries
    -CSS should be valid and well-formatted
    -Comments should be provided for explaining
    
    The site must follow accessibility guidelines using proper contrast, 
    alt text for images, skip links, aria roles, proper HTML syntax and schema information. 
   */
/* ************************************************************* */


:root {
    /* costum property/variable */
    /* colors */
    --primary-color: #ffba59;
    --primary-color-light: #ffd9a3;
    --secondary-color: #3d1c39;
    --highlight-color:#69c0af;
    --white-color: white;
    /* spacing */
    --paddings: 2rem;
    --margins: 1rem;
}

/* loading fonts */
@font-face {
    font-family: "Athena Rustic"; src: url('/fonts/athena-rustic-font/Athena Rustic.ttf');
}
@font-face {
    font-family: "Bite _ Bullet"; src: url('/fonts/bite-the-bullet/Bite _ Bullet.ttf');
}
@font-face {
    font-family: "IndieFlower-Regular"; src: url('/fonts/Indie_Flower/IndieFlower-Regular.ttf');
}
@font-face {
    font-family: "Rustic Love Tattoo"; src: url('/fonts/rustic_love_tattoo/Rustic Love Tattoo.otf');
}

/* Main styling for entire site */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Athena Rustic';
    margin: auto;
    width: 480px;
    color: #3d1c39;
    background-color: var(--primary-color-light);
}

h1 {
    font-family: 'Athena Rustic';
    font-size: 5rem;
}

h2 {
    font-family: 'Athena Rustic';
    font-size: 5rem;
}

h3 {
    font-family: 'Athena Rustic';
    font-size: 2rem;
    margin-top: 1rem;
}

p {
    font-family: 'Rustic Love Tattoo';
    font-size: 1.1rem;
}

button {
    font-family: 'Bite _ Bullet';
    font-size: 3rem;
}

a {
    font-family: 'Athena Rustic';
    font-size: 2rem;
}

/* ************************************************************* */
/* Skip button styling */
/* ************************************************************* */
/* this will improve the user experience and accessibility */
.access-skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.access-skip-links a {
    position: absolute;
    top: -3em;
    background-color: var(--white-color);
    color: var(--secondary-color);
    padding: .5em 1em;
    font-weight: bold;
    z-index: 99;
}
  
.access-skip-links a:focus {
    top: 0;
    left: 70%;
}

/* ************************************************************* */
/*  Navigation Bar Styling
    Creating one column of buttons */
/* ************************************************************* */

nav ul {
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

nav ul li {
    padding: 1rem 1rem 3rem;
    border-radius: 25px;
}

nav ul li a {
    color: var(--white-color);
    text-decoration: none;
}

nav ul li:hover a {
    text-decoration: underline;
}

nav ul li:nth-child(2) a {
    color: var(--secondary-color);
}

nav ul li:nth-child(4) a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.button-home {
    grid-column: 1; 
    grid-row: 1 / 5;
    background-color: var(--secondary-color);
    z-index: 1;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-home:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-menu {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 2 / 5;
    z-index: 2;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-menu:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-about {
    background-color: var(--secondary-color);
    grid-column: 1;
    grid-row: 3 / 5;
    z-index: 3;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-about:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-contact {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 4 / 5;
    z-index: 4;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-contact:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

/* ************************************************************* */
/*  location-container
/* ************************************************************* */

.location-container {
    transform: translate( 0, -2%);
    padding: var(--paddings);
    background-color: var(--primary-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.location-container iframe {
    height: 500px;
    width: 410px;
    padding-bottom: 1rem;
}

.button.find {
    width: 200px;
    height: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/button-w.svg');
    background-repeat: no-repeat;

    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 1150px;
    
    /* scale transition animation on hover part A */
    transform: scale(1);
	transition: transform 0.5s ease-out;
}

.button.find:hover {
    /* scale transition animation on hover part B */
    transform: scale(1.5);
}

.taco-outline {
    position: absolute;
    margin-left: 260px;
    top: 720px;
    width: 10rem;
    z-index: 2;

    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: shake 2s ease-in-out 5s infinite normal forwards;
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	} 
	100% {
		transform: rotate(0deg);
	}
}


/* ************************************************************* */
/*  team
/* ************************************************************* */

.team {
    background-color: var(--white-color);
    border-radius: 25px;
    z-index: 3;
    padding-top: 4rem;
    padding-left: var(--paddings);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    position: absolute;
    top: 1210px;
    width: 480px;
}

.team div:nth-child(1) {
    grid-column: 1 / 3;
}

.employee-card {
    margin-top: 2rem;
    transform: translate(0, -90%);
}

.employee-card img {
    width: 150px;
}

/* ************************************************************* */
/*  contact us section styling
/* ************************************************************* */


.contact-container {
    position: relative;
    height: 1000px;
    padding: var(--paddings);
    border-radius: 25px;

    position: absolute;
    top: 2600px;
    width: 480px;
    z-index: 4;

    background-color: var(--primary-color);
}

.contact-container p {
    color: var(--secondary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.message input[type=text] {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #222;
}

textarea {
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    height: 150px;
    resize: none;
}

.message input[type=button] {
    width: 200px;
    height: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/button-w.svg');
    background-repeat: no-repeat;

    font-size: 4rem;
    font-family: Bite _ Bullet;
    
    /* scale transition animation on hover part A */
    transform: scale(1);
	transition: transform 0.5s ease-out;
}

.message input[type=button]:hover {
    /* scale transition animation on hover part B */
    transform: scale(1.5);
}

.bite2 {
    position: absolute;
    top: 3300px;
    z-index: 4;
    transform: scaleX(-1);
    width: 480px;
}

footer {
    
    padding-left: var(--paddings);
    padding-bottom: var(--paddings);
    background-color: var(--white-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr 1fr);

    position: absolute;

    width: 480px;
    top: 3500px;
    z-index: 5;
}

footer div:nth-child(1) {
    grid-column: 1 / 3;
}

footer .social-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

/* ************************************************************* */
/* Media Query 
   No specific media queries and breakpoints are required but 
   should be used as necessary will us 768px, and 992px*/
/* ************************************************************* */
/* Medium Screens (tablets) */
@media screen and (min-width: 768px) {

    body {
        width: 768px;
    }

    .location-container iframe {
        height: 710px;
        width: 710px;
        padding-bottom: 1rem;
    }
    
    .button.find {
        margin-left: 500px;
        margin-top: 200px;
    }
    
    .taco-outline {
        top: 850px;
        margin-left: 400px;
    }

    .team {
        top: 1360px;
        width: 768px;
    }

    .contact-container {
        top: 2500px;
        width: 768px;
    }
    
    .bite2 {
        top: 3200px;
        width: 768px;
    }
    
    footer {
        top: 3400px;    
        width: 768px;
    }
}
/* Large Screens (desktop) */
@media screen and (min-width: 992px) {

    body {
        width: 992px;
    }

    .location-container iframe {
        height: 920px;
        width: 920px;
        padding-bottom: 1rem;
    }

    .button.find {
        margin-left: 650px;
        margin-top: 200px;
    }

    .taco-outline {
        top: 1050px;
        margin-left: 400px;
    }

    .team {
        top: 1550px;
        width: 992px;
    }
    
    .contact-container {
        top: 2650px;
        width: 992px;
    }

    .bite2 {
        top: 3300px;
        width: 992px;
    }
    
    footer {
        top: 3500px;    
        width: 992px;
    }
}