/* ************************************************************* */
/*  Midterm Project - Prototype - CSS */
/* ************************************************************* */

/* ************************************************************* */
/*  NOTES
    -Colors: orange = #ffba59, purple = , teal= #69c0af, and white
    -Mobile first styling approche with responsive design with media queries
    -CSS should be valid and well-formatted
    -Comments should be provided for explaining
    
    The site must follow accessibility guidelines using proper contrast, 
    alt text for images, skip links, aria roles, proper HTML syntax and schema information. 
   */
/* ************************************************************* */


:root {
    /* costum property/variable */
    /* colors */
    --primary-color: #ffba59;
    --primary-color-light: #ffd9a3;
    --secondary-color: #3d1c39;
    --highlight-color:#69c0af;
    --white-color: white;
    /* spacing */
    --paddings: 2rem;
    --margins: 1rem;
}

/* loading fonts */
@font-face {
    font-family: "Athena Rustic"; src: url('mtm6201-midterm/fonts/athena-rustic-font/Athena Rustic.ttf');
}
@font-face {
    font-family: "Bite _ Bullet"; src: url('mtm6201-midterm/fonts/bite-the-bullet/Bite _ Bullet.ttf');
}
@font-face {
    font-family: "IndieFlower-Regular"; src: url('mtm6201-midterm/fonts/Indie_Flower/IndieFlower-Regular.ttf');
}
@font-face {
    font-family: "Rustic Love Tattoo"; src: url('mtm6201-midterm/fonts/rustic_love_tattoo/Rustic Love Tattoo.otf');
}

/* Main styling for entire site */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Athena Rustic';
    margin: auto;
    width: 480px;
    color: #3d1c39;
    background-color: var(--primary-color-light);
}

h1 {
    font-family: 'Athena Rustic';
    font-size: 5rem;
}

h2 {
    font-family: 'Athena Rustic';
    font-size: 5rem;
}

h3 {
    font-family: 'Athena Rustic';
    font-size: 2rem;
    margin-top: 1rem;
}

p {
    font-family: 'Rustic Love Tattoo';
    font-size: 1.1rem;
}

button {
    font-family: 'Bite _ Bullet';
    font-size: 3rem;
}

a {
    font-family: 'Athena Rustic';
    font-size: 2rem;
}

/* ************************************************************* */
/* Skip button styling */
/* ************************************************************* */
/* this will improve the user experience and accessibility */
.access-skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.access-skip-links a {
    position: absolute;
    top: -3em;
    background-color: var(--white-color);
    color: var(--secondary-color);
    padding: .5em 1em;
    font-weight: bold;
    z-index: 99;
}
  
.access-skip-links a:focus {
    top: 0;
    left: 70%;
}

/* ************************************************************* */
/*  Navigation Bar Styling
    Creating one column of buttons */
/* ************************************************************* */

nav ul {
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

nav ul li {
    padding: 1rem 1rem 3rem;
    border-radius: 25px;
}

nav ul li a {
    color: var(--white-color);
    text-decoration: none;
}

nav ul li:hover a {
    text-decoration: underline;
}

nav ul li:nth-child(1) a {
    text-decoration: underline;
}

nav ul li:nth-child(2) a {
    color: var(--secondary-color);
}

nav ul li:nth-child(4) a {
    color: var(--secondary-color);
}

.button-home {
    grid-column: 1; 
    grid-row: 1 / 5;
    background-color: var(--secondary-color);
    z-index: 1;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-home:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-menu {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 2 / 5;
    z-index: 2;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-menu:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-about {
    background-color: var(--secondary-color);
    grid-column: 1;
    grid-row: 3 / 5;
    z-index: 3;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-about:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

.button-contact {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 4 / 5;
    z-index: 4;

    /* interactive menu transition animation on hover part A*/
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-contact:hover {
    /* interactive menu transition animation on hover part B*/
    transform: translateY(5%);
}

/* ************************************************************* */
/*  order container / tuesday deals */
/* ************************************************************* */

.order-container {
    position: relative;
    background-color: var(--primary-color);
    z-index: 1;
}

.logo-container {
    transform: translate( 0, -2%);
    height: 600px;
    background-color: var(--primary-color);
}

.logo-container .company-logo.frame1 {
    z-index: 0;
    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: eating1 2s ease-in-out 5s infinite normal forwards;
}
.logo-container .company-logo.frame2 {
    transform: translate( 0, -100%);
    z-index: -1;
    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: eating2 2s ease-in-out 5s infinite normal forwards;
}
.logo-container .company-logo.frame3 {
    transform: translate( 0, -200%);
    z-index: -2;
    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: eating3 2s ease-in-out 5s infinite normal forwards;
}
.logo-container .company-logo.frame4 {
    transform: translate( 0, -300%);
    z-index: -3;
    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: eating4 2s ease-in-out 5s infinite normal forwards;
}
@keyframes eating1 {
	0% {
		visibility: visible;
	}
	33% {
		visibility: hidden;
	} 
	66% {
		visibility: hidden;
	} 
	100% {
		visibility: hidden;
	}
}
@keyframes eating2 {
	0% {
		visibility: hidden;
	}
	33% {
		visibility: visible;
	} 
	66% {
		visibility: hidden;
	} 
	100% {
		visibility: hidden;
	}
}
@keyframes eating3 {
	0% {
		visibility: hidden;
	}
	33% {
		visibility: hidden;
	} 
	66% {
		visibility: visible;
	} 
	100% {
		visibility: hidden;
	}
}
@keyframes eating4 {
	0% {
		visibility: hidden;
	}
	33% {
		visibility: hidden;
	} 
	66% {
		visibility: hidden;
	} 
	100% {
		visibility: visible;
	}
}

.bite1 {
    position: absolute;
    top: -238px;
    width: 480px;
}

.button.login {
    width: 200px;
    height: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/button-o.svg');

    position: absolute;
    top: -70px;
    margin-left: 140px;
    
    /* scale transition animation on hover part A */
    transform: scale(1);
	transition: transform 0.5s ease-out;
}

.button.login:hover {
    /* scale transition animation on hover part B */
    transform: scale(1.5);
}

.tuesday-deal {
    padding: var(--paddings);
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* creating a rounded buttom on section element */
    background-color: var(--white-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tuesday-deal div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tuesday-deal div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.tuesday-deal div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.tuesday-deal img {
    height: 500px;
    width: 200px;
}

.taco-outline {
    position: absolute;
    top: 1550px;
    margin-left: 160px;

    width: 10rem;
    z-index: 2;

    /* animation: name | duration | timing-function | delay | iteration-count |	direction | fill-mode */
	animation: shake 2s ease-in-out 5s infinite normal forwards;
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	} 
	100% {
		transform: rotate(0deg);
	}
}

.order-container-guess {
    position: relative;
    height: 500px;
    padding-top: 190px;
    padding-bottom: 150px;
    padding-left: var(--paddings);
    padding-right: var(--paddings);

    transform: translate(0, -25px);
    z-index: -1;

    background-image: url('../images/pexels-roman-odintsov-4958641.jpg');
}

.order-container-guess p {
    color: var(--white-color);
}

.button.guess {
    width: 200px;
    height: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/button-o.svg');

    position: absolute;
    top: 300px;
    margin-left: 110px;

    /* scale transition animation on hover part A */
    transform: scale(1);
	transition: transform 0.5s ease-out;
}

.button.guess:hover {
    /* scale transition animation on hover part B */
    transform: scale(1.5);
}


.menu {
    background-color: var(--primary-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 3;
    padding-top: 4rem;
    padding-left: var(--paddings);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    position: absolute;
    top: 2050px;
    width: 480px;
}

.menu div:nth-child(1) {
    grid-column: 1 / 3;
    transform: translate(0, -10%);
}

.promo-card {
    margin-top: 2rem;
    transform: translate(0, -90%);
}

.promo-card img {
    width: 200px;
}

.promo-card a {
    text-decoration: none;
}

.bite2 {
    position: absolute;
    top: 2850px;
    z-index: 4;
    transform: scaleX(-1);
    width: 480px;
}

footer {
    
    padding-left: var(--paddings);
    padding-bottom: var(--paddings);
    background-color: var(--white-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr 1fr);

    position: absolute;

    width: 480px;
    top: 3050px;
    z-index: 5;
}

footer div:nth-child(1) {
    grid-column: 1 / 3;
}

footer .social-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

/* ************************************************************* */
/* Media Query 
   No specific media queries and breakpoints are required but 
   should be used as necessary will us 768px, and 992px */
/* ************************************************************* */
/* Medium Screens (tablets) */
@media screen and (min-width: 768px) {

    body {
        width: 768px;
    }
        
    .logo-container {
        height: 900px;
    }

    .bite1 {
        width: 768px;
    }

    .button.login {
        margin-left: 275px;
    }

    .tuesday-deal img {
        height: 700px;
        width: 400px;
    }
    
    .taco-outline {
        top: 2050px;
        margin-left: 280px;
    }

    .button.guess {
        margin-left: 245px;
    }

    .menu {
        top: 2550px;
        width: 768px;
    }

    .promo-card img {
        width: 300px;
    }

    .bite2 {
        top: 3400px;
        width: 768px;
    }
    
    footer {
        top: 3600px;    
        width: 768px;
    }
}
/* Large Screens (desktop) */
@media screen and (min-width: 992px) {

    body {
        width: 992px;
    }
        
    .logo-container {
        height: 1100px;
    }

    .bite1 {
        width: 992px;
    }

    .button.login {
        margin-left: 380px;
    }

    .tuesday-deal img {
        height: 700px;
        width: 400px;
    }
    
    .taco-outline {
        top: 2250px;
        margin-left: 380px;
    }

    .button.guess {
        margin-left: 340px;
    }

    .menu {
        top: 2750px;
        width: 992px;
    }

    .promo-card img {
        width: 400px;
    }
    
    .bite2 {
        top: 3700px;
        width: 992px;
    }
    
    footer {
        top: 3900px;    
        width: 992px;
    }
}